/* Reset some default styles */
body, h1, h2, h3, p, button, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #726969;
    
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3333;
}

.container {
    background-color: #4d4242;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.right {
    padding: 20px;
}

.row {
    margin-bottom: 20px;
    margin-top: 5vh !important;
}

.top {
    background-color: #1a411a;
    color: #fff;
    padding: 10px;
}

.outline {
    border: 2px solid #fff;
}

.clickable {
    cursor: pointer;
}

.panelcontrol {
    padding: 20px;
}

.control {
    background-color: #726969;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    margin-top: 20px;
}

.div-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.customButton {
    padding: 10px 15px;
    background-color: #db9834;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.customButton:hover {
    background-color: rgb(185, 70, 41);
}



.info-bar {
    background-color: #3b3333;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .temperature-panel {
    display: flex;
    align-items: center;
    margin: 5%;
    height: 10vh;
    
  }

  .temperature-label {
    margin-right: 10px;
  }

  .temperature-panel:nth-child(1) {
    background-color: #662a12;
    width: 30vw;
  }

  .temperature-panel:nth-child(2) {
    background-color: #75180e;
    width: 30vw;
  }